.chat_height_100 {
    max-height: 100vh;
    overflow-y: hidden ;
}
.chat_height_80 {
    max-height: 75vh;
    overflow-y: auto;
}

.chat_height_20 {
    max-height: 20vh;
    min-height: fit-content;
    overflow-y: visible;
}